* {
  box-sizing: border-box;
}

body {
  background: #8dc6dd;
  font-family: "Cabin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.info {
  font-size: 40px;
  color: #fff;
  width: 300px;
  margin: 300px auto;
}