* {
  box-sizing: border-box;
}

body {
  background: #8dc6dd;
  font-family: "Cabin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.info {
  font-size: 40px;
  color: #fff;
  width: 400px;
  margin: 300px auto;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
}

h3 {
  font-size: 14px;
}

a {
  color: #fff;
}

.footer {
  font-size: 14px;
  color: #fff;
  opacity: .8;
  position: absolute;
  bottom: 3px;
  right: 5px;
}